---
import Layout from '../layouts/Layout.astro';
import HomeHero from '../components/HomeHero.astro';
import Clips from '../components/Clips.astro';
---

<Layout title="Manfred Roovers">
	<main>
		<HomeHero />
		<Clips />
		<section>
			<div class="container mx-auto">
				<div class="max-w-xl mx-auto text-center py-32 text-green-50">
					<h2 class="text-3xl lg:text-5xl font-bold">Looking for more?</h2>

					<div class="mt-6 text-xl">
						<p class="text-slate-400">Have a look at the other projects</p>
						<a href="/work" class="underline mt-6 inline-flex">See all my work</a>
					</div>
				</div>
			</div>
		</section>
	</main>
</Layout>
