---
const currentYear = new Date().getFullYear();
---

<footer class="container mx-auto flex gap-1 flex-wrap justify-between py-10 mt-10">
    <div>
        Manfred Roovers { currentYear }  ·  all rights reserved.
    </div>

    <ul class="flex gap-5">
        <li>Work</li>
        <li>About</li>
        <li>Contact</li>
    </ul>
</footer>