---
const currentYear = new Date().getFullYear();
---

<footer class="container mx-auto flex gap-3 flex-wrap justify-between py-10 mt-10 flex-col-reverse items-center lg:flex-row">
    <div class="text-slate-400">
        Manfred Roovers { currentYear }  ·  all rights reserved.
    </div>

    <ul class="flex gap-5">
        <li>
            <a href="/work">
                Work
            </a>
        </li>
        
        <li>
            <a href="/about">About</a>
        </li>
        
        <li>
            <a href="/contact">Contact</a>
        </li>
    </ul>
</footer>