<header class="h-[60vh] lg:h-[78vh] relative">
    <div class="absolute -translate-x-1/2 -translate-y-1/2 left-1/2 top-1/2">
        <h1 class="text-center">
            <span class="block mb-4 text-6xl font-black tracking-wide">Manfred Roovers.</span>
            <span class="block text-2xl">Music composer for moving images</span>
        </h1>
    </div>
</header>